# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GPR4400_Portfolio(K1, K2, K3, S1, S2, S3)_Fratto_Brian.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
